* {
  text-align: center;
}

html, body {
  margin: 0;
  height: 110%;
}

.action-button {
  width: 80px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 5px;
  display: inline-block;
  border-radius: 5px;
  background-color: #00a47f;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
  -webkit-transition:all .2s ease;
     -moz-transition:all .2s ease;
      -ms-transition:all .2s ease;
       -o-transition:all .2s ease;
          transition:all .2s ease;
}

.evaluated-correct {
  background-color: #00a47f;
}

.evaluated-incorrect {
  background-color: red;
}

.evaluated-nothing {
  background-color: lightgray;
}

.cards-discarded {
  margin-left: -130%;
  margin-right: 200%;
}

.outer-container {
  height: 100%;
  width: 100%;
}

.card {
  height: 133px;
  width: 95px;
}

.dealer-downcard {
  position: absolute;
  top: 8%;
  right: 23%;
  -webkit-transition:all .3s ease;
     -moz-transition:all .3s ease;
      -ms-transition:all .3s ease;
       -o-transition:all .3s ease;
          transition:all .3s ease;
}

.dealer-upcard {
  position: absolute;
  margin-top: 15%;
  left: 23%;
  -webkit-transition:all .5s ease;
     -moz-transition:all .5s ease;
      -ms-transition:all .5s ease;
       -o-transition:all .5s ease;
          transition:all .5s ease;
}

.user-backcard {
  position: absolute;
  margin-top: 15%;
  left: 23%;
  -webkit-transition:all .2s ease;
     -moz-transition:all .2s ease;
      -ms-transition:all .2s ease;
       -o-transition:all .2s ease;
          transition:all .2s ease;
}

.user-frontcard {
  position: absolute;
  top: 8%;
  right: 23%;
  -webkit-transition:all .4s ease;
     -moz-transition:all .4s ease;
      -ms-transition:all .4s ease;
       -o-transition:all .4s ease;
          transition:all .4s ease;
}

.cards-pre-deal {
  margin-top: -250%;
}

.instant-transition {
  -webkit-transition:all 0s ease;
     -moz-transition:all 0s ease;
      -ms-transition:all 0s ease;
       -o-transition:all 0s ease;
          transition:all 0s ease;
}


.dealer-cards-container p {
  font-size: .8em;
  color: #F0D27E;
  position: absolute;
  bottom: -12px;
  width: 100%;
  font-weight: bold;
}

.dealer-cards-container {
  margin: auto;
  top: 10px;
  position: relative;
  height: 12.5em;
  width: 65%;
  max-width: 310px;
  border: 3px solid #F0D27E;
}

.user-cards-container {
  width: 100%;
  max-width: 310px;
  height: 12.5em;
  margin: auto;
  top: 10px;
  position: relative;
  width: 65%;
}

.actions-container {
  bottom: -130px;
  padding-top: 5px;
  position: fixed;
  width: 100%;
  height: 270px;
  box-shadow: 0 0 8px lightgray;
  background-color: white;
}

.deal-again {
  color: gray;
  padding: 5px;
  padding-top: 7px;
  -webkit-transition:all .75s ease;
     -moz-transition:all .75s ease;
      -ms-transition:all .75s ease;
       -o-transition:all .75s ease;
          transition:all .75s ease;
}

.evaluation-message-correct {
  color: #00a47f;
}

.evaluation-message-incorrect {
  color: red;
}

.invisible {
  opacity: 0;
}

.evaluation-message {
  font-weight: bold;
}

.ad {
  margin: auto;
  width: 320px;
  height: 100px;
  background-color: blue;
}

.info-button {
  height: 35px;
  width: 35px;
  position: fixed;
  right: 80px;
  bottom: 15px;
  padding: 0;
  z-index: 10;
  cursor: pointer;
}

.home-button {
  position: fixed;
  right: 20px;
  bottom: 15px;
  height: 40px;
  width: 40px;
}

.home-button-container {
  margin-top: 100px;
}

.grid {
  left: 4%;
  top: 2%;
  position: fixed;
  -webkit-transition:all .5s ease;
     -moz-transition:all .5s ease;
      -ms-transition:all .5s ease;
       -o-transition:all .5s ease;
          transition:all .5s ease;
}

.grid-offscreen {
  left: 110%;
}
