* {
  text-align: center;
  /* font-family: "Avenir Next", "Avenir", sans-serif; */
}

html, body {
  margin: 0;
  height: 100%;
  /* overflow: hidden */
}

.action-button {
  width: 80px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 5px;
  display: inline-block;
  border-radius: 5px;
  background-color: #00a47f;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  -webkit-transition:all .2s ease;
     -moz-transition:all .2s ease;
      -ms-transition:all .2s ease;
       -o-transition:all .2s ease;
          transition:all .2s ease;
}

.evaluated-correct {
  background-color: #00a47f;
}

.evaluated-incorrect {
  background-color: red;
}

.evaluated-nothing {
  background-color: lightgray;
}

.dealer-cards-container {
  margin: auto;
  top: 10px;
  position: relative;
  height: 14.5em;
  width: 65%;
  border: 3px solid #F0D27E;
}

.dealer-cards-container p {
  font-size: .8em;
  color: #F0D27E;
  position: absolute;
  bottom: -12px;
  width: 100%;
  font-weight: bold;
}

.cards-pre-deal {
  margin-top: -150%;
}

.cards-discarded {
  margin-left: -130%;
}

.card {
  height: 1.68in;
  width: 1.2in;
}

.dealer-downcard {
  position: fixed;
  top: 17.5%;
  left: 43%;
  -webkit-transition:all .4s ease;
     -moz-transition:all .4s ease;
      -ms-transition:all .4s ease;
       -o-transition:all .4s ease;
          transition:all .4s ease;
}

.dealer-upcard {
  position: fixed;
  top: 21.5%;
  left: 31%;
  -webkit-transition:all .7s ease;
     -moz-transition:all .7s ease;
      -ms-transition:all .7s ease;
       -o-transition:all .7s ease;
          transition:all .7s ease;
}

.user-backcard {
  position: fixed;
  top: 54%;
  left: 31%;
  -webkit-transition:all .2s ease;
     -moz-transition:all .2s ease;
      -ms-transition:all .2s ease;
       -o-transition:all .2s ease;
          transition:all .2s ease;
}

.user-frontcard {
  position: fixed;
  top: 50%;
  left: 43%;
  -webkit-transition:all .5s ease;
     -moz-transition:all .5s ease;
      -ms-transition:all .5s ease;
       -o-transition:all .5s ease;
          transition:all .5s ease;
}

.instant-transition {
  -webkit-transition:all 0s ease;
     -moz-transition:all 0s ease;
      -ms-transition:all 0s ease;
       -o-transition:all 0s ease;
          transition:all 0s ease;
}

.user-cards-container {
  width: 100%;
  height: 240px;
}

.actions-container {
  padding-top: 5px;
  position: fixed;
  width: 100%;
  height: 170px;
  box-shadow: 0 0 8px lightgray;
}

.deal-again {
  color: gray;
  padding-top: 10px;
  -webkit-transition:all .75s ease;
     -moz-transition:all .75s ease;
      -ms-transition:all .75s ease;
       -o-transition:all .75s ease;
          transition:all .75s ease;
}

.evaluation-message-correct {
  color: #00a47f;
}

.evaluation-message-incorrect {
  color: red;
}

.invisible {
  opacity: 0;
}

.evaluation-message {
  font-weight: bold;
}

.ad {
  margin: auto;
  width: 320px;
  height: 100px;
  background-color: blue;
}

.info-button {
  height: 35px;
  width: 35px;
  position: absolute;
  right: 80px;
  bottom: 15px;
  padding: 0;
  z-index: 10;
}

.home-button {
  position: absolute;
  right: 20px;
  bottom: 15px;
  height: 40px;
  width: 40px;
}

.home-button-container {
  margin-top: 100px;
}

.grid {
  left: 10px;
  top: 100px;
  position: fixed;
  -webkit-transition:all .5s ease;
     -moz-transition:all .5s ease;
      -ms-transition:all .5s ease;
       -o-transition:all .5s ease;
          transition:all .5s ease;
}

.grid-offscreen {
  left: 450px;
}
