* {
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

.action-button {
  width: 80px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 5px;
  display: inline-block;
  border-radius: 5px;
  background-color: #76DC9B;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  -webkit-transition:all .2s ease;
     -moz-transition:all .2s ease;
      -ms-transition:all .2s ease;
       -o-transition:all .2s ease;
          transition:all .2s ease;
}

.evaluated-correct {
  background-color: green;
}

.evaluated-incorrect {
  background-color: red;
}

.evaluated-nothing {
  background-color: lightgray;
}

.dealer-cards-container {
  margin: auto;
  top: 10px;
  position: relative;
  height: 14.5em;
  width: 65%;
  border: 3px solid #F9D160;
}

.dealer-cards-container p {
  font-size: .8em;
  color: #F9D160;
  position: absolute;
  bottom: -12px;
  width: 100%;
  font-weight: bold;
}

.cards-pre-deal {
  margin-top: -150%;
}

.cards-discarded {
  margin-left: -130%;
}

.card {
  height: 1.68in;
  width: 1.2in;
}

.dealer-downcard {
  position: fixed;
  top: 17.5%;
  left: 42%;
  -webkit-transition:all .4s ease;
     -moz-transition:all .4s ease;
      -ms-transition:all .4s ease;
       -o-transition:all .4s ease;
          transition:all .4s ease;
}

.dealer-upcard {
  position: fixed;
  top: 21.5%;
  left: 30%;
  -webkit-transition:all .7s ease;
     -moz-transition:all .7s ease;
      -ms-transition:all .7s ease;
       -o-transition:all .7s ease;
          transition:all .7s ease;
}

.user-backcard {
  position: fixed;
  top: 56%;
  left: 30%;
  -webkit-transition:all .2s ease;
     -moz-transition:all .2s ease;
      -ms-transition:all .2s ease;
       -o-transition:all .2s ease;
          transition:all .2s ease;
}

.user-frontcard {
  position: fixed;
  top: 52%;
  left: 42%;
  -webkit-transition:all .5s ease;
     -moz-transition:all .5s ease;
      -ms-transition:all .5s ease;
       -o-transition:all .5s ease;
          transition:all .5s ease;
}

.instant-transition {
  -webkit-transition:all 0s ease;
     -moz-transition:all 0s ease;
      -ms-transition:all 0s ease;
       -o-transition:all 0s ease;
          transition:all 0s ease;
}

.back-card-holdem {
  right: -100px;
  position: absolute;
  transform: rotate(-3deg);
}

.front-card-holdem {
  left: -100px;
  position: absolute;
  transform: rotate(3deg);
}

.user-cards-container {
  width: 100%;
  height: 268px;
}

.actions-container {
  width: 100%;
  height: 50px;
}

.invisible {
  opacity: 0;
}

.deal-again {
  color: gray;
  margin-top: 20px;
  -webkit-transition:all 1.5s ease;
     -moz-transition:all 1.5s ease;
      -ms-transition:all 1.5s ease;
       -o-transition:all 1.5s ease;
          transition:all 1.5s ease;
}

.ad {
  width: 320px;
  height: 100px;
  background-color: blue;
  margin: auto;
}
