table {
  border: 1px solid #D6DFE9;
  border-radius: 5px;
  background-color: white;
  width: 95%;
  border-collapse: separate;
  border-spacing: 0;
}

tr, td, th {
  background-color: #FDFDFD;
  color: gray;
  font-size: .9em;
  border-right: 1px solid #D6DFE9;
  border-bottom: 1px solid #D6DFE9;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
}

td {
  padding-left: 0px;
  padding-right: 0px;
}

th:last-child, td:last-child {
  border-right: none;
}

.grid-hit {
  background-color: #00a47f;
  color: white;
}

.grid-stay {
  background-color: red;
  color: white;
}

.grid-dd {
  background-color: #F9D160;
  color: white;
}

.grid-split {
  background-color: #42247e;
  color: white;
}

.no-top-border {
  border-top: none;
  border-bottom: none;
}

.your-hand-cell {
  overflow: visible;
}

.your-hand-text {
  position: absolute;
  left: -24px;
  top: 280px;
  transform: rotate(-90deg);
  color: gray;
}
