* {
  text-decoration: none;
  color: white;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.invisible {
  opacity: 0;
}

.home-background {
  height: 1000px;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-image: url(/background.png);
  background-size: 100%;
  padding-top: 100px;
  -webkit-transition:all .5s ease;
     -moz-transition:all .5s ease;
      -ms-transition:all .5s ease;
       -o-transition:all .5s ease;
          transition:all .5s ease;
}

.home-frame {
  height: 350px;
  width: 320px;
  margin: auto;
  margin-top: 75px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255, .22);
  padding: 15px;
}

.nav-button {
  padding: 18px;
  background-color: #00a47f;
  margin-top: 70px;
  border-radius: 5px;
  font-size: 1.5em;
}

.language-window {
  height: 100px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}
