* {
  text-decoration: none;
  color: white;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.home-background {
  height: 1000px;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-image: url(/background.png);
  background-size: 100%;
  padding-top: 100px;
}

.home-frame {
  height: 290px;
  width: 320px;
  margin: auto;
  margin-top: 100px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255, .22);
  padding: 15px;
}

.nav-button {
  padding: 18px;
  background-color: #00a47f;
  margin-top: 50px;
  border-radius: 5px;
  font-size: 1.5em;
}

.home-text-box {
  height: 100px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}
