* {
  text-decoration: none;
  color: white;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

#root {
  height: 100%;
  width: 100%;
}

.invisible {
  opacity: 0;
}

.home-background {
  height: 100%;
  background: url(/background_compressed.png) repeat;
  background-size: 395px 395px;
  padding-top: 40px;
  -webkit-transition:all .5s ease;
     -moz-transition:all .5s ease;
      -ms-transition:all .5s ease;
       -o-transition:all .5s ease;
          transition:all .5s ease;
}

.home-frame {
  width: 270px;
  margin: auto;
  border-radius: 5px;
  background-color: rgb(255, 255, 255, .22);
  padding: 20px;
  padding-top: .1px;
}

.nav-button {
  padding: 12px;
  background-color: #00a47f;
  margin-top: 31px;
  border-radius: 5px;
  font-size: 1.3em;
  font-weight: normal;
}

/* .language-window {
  height: 130px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}

.language {
  font-size: 1.1em;
  border-left: none;
  border-top: none;
  margin: -1px;
  display: inline-block;
  color: #F0D27E;
  padding: 12px;
  -webkit-transition:all .2s ease;
     -moz-transition:all .2s ease;
      -ms-transition:all .2s ease;
       -o-transition:all .2s ease;
          transition:all .2s ease;
} */

.selected-language {
  color: white;
  background-color: #F0D27E;
}
