* {
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

.action-button {
  width: 77px;
  padding-top: 11px;
  padding-bottom: 11px;
  margin: 5px;
  display: inline-block;
  border-radius: 5px;
  background-color: #76DC9B;
  /* background-color: #70B7E8; */
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  -webkit-transition:all .2s ease;
     -moz-transition:all .2s ease;
      -ms-transition:all .2s ease;
       -o-transition:all .2s ease;
          transition:all .2s ease;
}

.evaluated-correct {
  background-color: green;
}

.evaluated-incorrect {
  background-color: red;
}

.evaluated-nothing {
  background-color: lightgray;
}

.blackjack-dealer-cards-container {
  margin: auto;
  top: 80px;
  position: relative;
  height: 14.5em;
  width: 65%;
  border: 3px solid #F9D160;
}

.blackjack-dealer-cards-container p {
  font-size: .8em;
  color: #F9D160;
  position: absolute;
  bottom: -12px;
  width: 100%;
  font-weight: bold;
}

.cards-pre-deal {
  margin-top: -150%;
}

.cards-discarded {
  margin-left: -130%;
}

.card {
  height: 1.68in;
  width: 1.2in;
}

.blackjack-dealer-downcard {
  position: fixed;
  top: 13.5%;
  left: 42%;
  -webkit-transition:all .4s ease;
     -moz-transition:all .4s ease;
      -ms-transition:all .4s ease;
       -o-transition:all .4s ease;
          transition:all .4s ease;
}

.blackjack-dealer-upcard {
  position: fixed;
  top: 17.5%;
  left: 30%;
  -webkit-transition:all .7s ease;
     -moz-transition:all .7s ease;
      -ms-transition:all .7s ease;
       -o-transition:all .7s ease;
          transition:all .7s ease;
}

.blackjack-user-backcard {
  position: fixed;
  top: 55%;
  left: 30%;
  -webkit-transition:all .2s ease;
     -moz-transition:all .2s ease;
      -ms-transition:all .2s ease;
       -o-transition:all .2s ease;
          transition:all .2s ease;
}

.blackjack-user-frontcard {
  position: fixed;
  top: 51%;
  left: 42%;
  -webkit-transition:all .5s ease;
     -moz-transition:all .5s ease;
      -ms-transition:all .5s ease;
       -o-transition:all .5s ease;
          transition:all .5s ease;
}

.instant-transition {
  -webkit-transition:all 0s ease;
     -moz-transition:all 0s ease;
      -ms-transition:all 0s ease;
       -o-transition:all 0s ease;
          transition:all 0s ease;
}

.back-card-holdem {
  right: -100px;
  position: absolute;
  transform: rotate(-3deg);
}

.front-card-holdem {
  left: -100px;
  position: absolute;
  transform: rotate(3deg);
}

.blackjack-user-cards-container {
  width: 100%;
  height: 380px;
}

.blackjack-actions-container {
  width: 100%;
  height: 50px;
}

.invisible {
  opacity: 0;
}

.deal-again {
  color: gray;
  margin-top: 20px;
  -webkit-transition:all 1.5s ease;
     -moz-transition:all 1.5s ease;
      -ms-transition:all 1.5s ease;
       -o-transition:all 1.5s ease;
          transition:all 1.5s ease;
}
